{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="D5A5909342D175ECDD7E4665C7D97FAF" />
    <meta name="google-site-verification" content="j4hCo0t6GR5vApCuqjSQO_x2QhciBBRdhTPTHbTvUuI" />
    <meta name="description" content="Set up your Garmin device easily using Garmin Express from garmin.com/express. Download the app, connect your device, and manage updates, maps, and backups in one place." />
    <meta name="keywords" content="garmin.com/express, Garmin Express setup, Garmin device update, download Garmin Express, Garmin map update, Garmin device management" />
    <meta name="robots" content="index, follow" />
    <title>How to Set Up Garmin Express – Step-by-Step Guide at garmin.com/express</title>
    {{ super() }}
{% endblock %}
